.container img {
  width: 100%;
  height: auto;
}
.container .centered{
	color:white;
	position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .btn  {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
 // -ms-transform: translate(-50%, -50%);
  background-color: orange;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
}
